@mixin flex-row($justify: flex-start, $align: center, $gap: 0) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-col($justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

